<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Strength</key>
	<string>Determines lifting/carrying capacity and how hard you can hit.</string>
	<key>Dexterity</key>
	<string>Represents a character’s agility, precision, and grace.</string>
	<key>Stamina</key>
	<string>Defines a character’s physical toughness and health points.</string>
	<key>Charisma</key>
	<string>Represents social grace, charm, and sex appeal (though not appearance).</string>
	<key>Manipulation</key>
	<string>The ability to lie, con, and coerce others into doing what you want.</string>
	<key>Composure</key>
	<string>Measures how well a character remains calm and in control in tense situations.</string>
	<key>Intelligence</key>
	<string>Reasoning capacity, logical thought, research ability, and similar mental efforts.</string>
	<key>Wits</key>
	<string>Quick-thinking ability and “on-the-spot” decision-making/reactions.</string>
	<key>Resolve</key>
	<string>The mental analogue to Stamina. Measures mental fortitude, concentration, and determination.</string>
	<key>Athletics</key>
	<string>A character’s ability to run, jump, dodge, etc.</string>
	<key>Brawl</key>
	<string>Determines your skill in hand-to-hand combat, grappling, and blocking.</string>
	<key>Craft</key>
	<string>Represents the ability to create both artwork and functional items. (Free specialty.)</string>
	<key>Drive</key>
	<string>The ability to drive fast and safely in extraordinary circumstances.</string>
	<key>Firearms</key>
	<string>Measures one’s ability with guns, from firefights to general maintenance.</string>
	<key>Larceny</key>
	<string>Capability with tools and techniques for lockpicking, pickpocketing. and similar sleight-of-hand tasks.</string>
	<key>Melee</key>
	<string>One’s facility with close-range weaponry.</string>
	<key>Stealth</key>
	<string>Measures the character’s ability to remain unnoticed and out of sight.</string>
	<key>Survival</key>
	<string>How well one can exist in the wild, track footprints, and navigate by the stars.</string>
	<key>Animal Ken</key>
	<string>Determines your ability to train and command animals.</string>
	<key>Etiquette</key>
	<string>The ability to adhere to social mores and expectations and avoid faux pas.</string>
	<key>Insight</key>
	<string>How well a character interprets body language, tonal cues, facial expressions, etc.</string>
	<key>Intimidation</key>
	<string>A character&apos;s ability to bully or threaten their way into getting what they want.</string>
	<key>Leadership</key>
	<string>The ability to motivate others and sway groups to your way of thinking or course of action.</string>
	<key>Performance</key>
	<string>Governs various performative arts, such as singing, acting, and dancing. (Free specialty.)</string>
	<key>Persuasion</key>
	<string>How well you are able to convince others to behave or think.</string>
	<key>Streetwise</key>
	<string>Determines how well a character can navigate the criminal underworld, get information off the street, and interpret slang and graffiti.</string>
	<key>Subterfuge</key>
	<string>Put simply, the ability to lie or distort the truth in order to achieve a desired outcome.</string>
	<key>Academics</key>
	<string>One&apos;s accomplishments in higher education, the ability to research, and general knowledge. (Free specialty.)</string>
	<key>Awareness</key>
	<string>General attentiveness and perceptiveness.</string>
	<key>Finance</key>
	<string>Measures a character’s financial acumen, ability to work the stock market, balance a spreadsheet, etc.</string>
	<key>Investigation</key>
	<string>Allows a character to examine and collect evidence, spot clues, and trace missing persons and items.</string>
	<key>Medicine</key>
	<string>Useful for doctors and nurses, Medicine allows you to heal the sick and injured and understand causes of death. Medicine is used to heal Aggravated Damage in mortals.</string>
	<key>Occult</key>
	<string>Occult measures one’s understanding and knowledge of the supernatural world.</string>
	<key>Politics</key>
	<string>Covers diplomacy, bureaucracy, and general knowledge of political movements and machinations.</string>
	<key>Science</key>
	<string>Understanding of the natural world, from biology to physics. (Free specialty.)</string>
	<key>Technology</key>
	<string>Determines one’s ability to use, understand, and sometimes create high-tech gadgets and systems.</string>
</dict>
</plist>
